.footer-container{
    /* border: 2px solid rebeccapurple; */
    margin-top: 10px;
 
    
    
}
.footer-row{
    /* border: 1px solid aqua; */
    padding: 0px;
    margin: 0px;
    
 
}
.footer-text{
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.text{
    font-size: 12px;
    color: rgb(49, 141, 216);
}