*{
    margin: 0;
    padding: 0;

}

.page5{
    /* border: 1px solid blue; */
    margin: 150px 0px;
    
}
.page5 .page5-container{
    /* border: 1px solid rebeccapurple; */
}
.page5 .page5-container .page5-row{
    /* border: 1px solid red; */
}
.page5 .page5-container .page5-row .page5-box{
    /* border: 1px solid blue; */
    margin: 0px;
    padding: 0px;
}
#upper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(105, 159, 209,0.9);
    /* color: rgb(6, 62, 136); */
    color: white;
    padding: 5px 0px;
}
#lower .page5-box-container {
    /* border: 1px solid lime; */
 
}
#lower .page5-box-container .page5-box-row{
    /* border: 1px solid red; */
  
}
.lower-box{
  /* border: 2px solid black; */
  margin-top: 5px;
}
.lower-box h4{
    color:rgb(105, 159, 209,0.9) ;
}
.lower-box select{
    width:100%;
    color: rgb(6, 62, 136);
    cursor: pointer;
}
.lower-box select:hover{
    box-shadow: 1px 2px 1px  rgb(105, 159, 209,0.9),1px 2px 1px rgb(60, 60, 61),1px 2px 1px rgb(105, 159, 209,0.9);
}
.lower-box select option{
    
}