.page3{
    /* border: 1px solid red; */
    margin-top: 40px;
}   
.page3 .page3-main-container-fluid{
    /* border: 1px solid black; */
  
}
.page3 .page3-main-container-fluid .page3-main-row{
    /* border: 1px solid aqua; */
  
}
.page3-main-row .page3-main-box{
    /* border: 1px solid blue; */
    margin:0px;
    padding: 0px;
    /* background-color: rgb(9, 58, 131,0.2); */
    
}
.page3-main-row #main-left{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(9, 58, 131,0.2);
}
#main-left .left-text{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0px;
    padding: 10px;
    color:rgb(6, 60, 139);
    font-size: 40px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background: rgb(9, 58, 131,0.2); */

}

#main-right{
    /* border: 1px solid blue; */
}
#main-right .right-image{
    /* border: 1px solid blue; */
    background: url(../img/image4.jpg) no-repeat center center/cover;
    width:100%;
    height: 300px;
}
#main-right .right-box{
    /* border:2px solid rgb(53, 69, 212);; */
    /* background:  rgb(6, 62, 136,0.4); */
    background-color:rgb(105, 159, 209,0.8);
}
#main-right .right-text{
    /* border: 2px solid rgb(53, 69, 212); */
    padding: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color:rgb(9, 56, 128); */
    color: white;
    /* font-size: 25px; */
    font-family: monospace;
    /* background:  rgb(6, 62, 136,0.4); */
}
#main-right .right-button{
    /* border: 3px solid orange; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 10px 0px;
   

}
#main-right .right-button .click-button{
    /* border: 1px solid red; */
     display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 40px 4px 40px; 
    /* color: rgb(133, 139, 158); */
    color: white;
    background-color: rgb(26, 58, 145);
    cursor: pointer;
    font-weight: 400;

}
#main-right .right-button .click-button:hover{
    background-color: rgba(76, 97, 150, 0.2);
}

@media (min-width: 320px) and (max-width:767px){
    #main-left .left-text{
        font-size: 30px;
        font-weight: 700;
    }
    #main-right .right-text{
        font-size: 25px;
    }
}